<%= form_for (@komentar), :html => {:id => 'comment-form'} do |f| %>
    <div id="red">
      Име:&nbsp;
      <%= f.text_field :ime, :class => 'form-control'%>
    </div>
    <div id="red">
      Коментар:&nbsp;
      <%= f.text_area :sodrzina, :class => 'form-control', :cols => '3', :rows => '7' %>
    </div>
    <div class="actions">
      <%= button_tag(:type => 'submit', :class => 'btn btn-success pull-right') do %>
          <span class="glyphicon glyphicon-plus"></span> Додади
      <% end %>
    </div>
<% end %>